
<div class="main-container">
    <div class="container">
      <div class="section furniture-header">
        <span class="subtitle ">THIS MONTH</span>
        <div class="trendy-header">
          <div class="trendy-title">
            <h2 class="subtitle-1">Trendy Collection</h2>
          </div>
          <div class="trendy-title">
             <div class="items">
              <span class="items" >All Collection </span>
              <span class="items">New In </span>
              <span class="items">Top Rated </span>
              <span class="items">Tensing Items </span>
             </div>
          </div>
        </div>
      </div>
      <div class="section">
        <!-- <div class="product-list-wrrapper">
          <div class="product-item">
            <div class="list-item">
                <div class="product-badge">
                    <span class="product-trending"> 10% Off</span>
                   
  
                </div>
                <div class="product-thumb">
                      <a href="#">
                        <img class="img" src="../../../assets/product-images/product1.png" alt="">
                      </a>
                </div>
                <div class="product-details-icons">
                  <span>HI</span>
                  <span>HI</span>
                  <span>HI</span>
                      
                </div>
            </div>
            <div class="details">
              <div class="product-title">
                <h4>Stylish Gray Chair</h4>
              </div>
              <div class="user-rating">
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
              </div>
              <div class="product-price">
                <h4>USD 90.00</h4>
  
              </div>
            </div>
        </div> 
          <div class="product-item">
          <div class="list-item">
              <div class="product-badge">
                 
  
              </div>
              <div class="product-thumb">
                    <a href="#">
                      <img class="img" src="../../../assets/product-images/product1.png" alt="">
                    </a>
              </div>
              <div class="product-details-icons">
                <span>HI</span>
                <span>HI</span>
                <span>HI</span>
                    
              </div>
          </div>
          <div class="details">
                  <div class="details">
              <div class="product-title">
                <h4>Stylish Gray Chair</h4>
              </div>
              <div class="user-rating">
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
              </div>
              <div class="product-price">
                <h4>USD 90.00</h4>
  
              </div>
            </div>
          </div>
      </div> 
        <div class="product-item">
        <div class="list-item">
            <div class="product-badge">
                <span class="product-trending"> 10% Off</span>
               
  
            </div>
            <div class="product-thumb">
                  <a href="#">
                    <img class="img"src="../../../assets/product-images/product3.png" alt="">
                  </a>
            </div>
            <div class="product-details-icons">
              <span>HI</span>
              <span>HI</span>
              <span>HI</span>
                  
            </div>
        </div>
        <div class="details">
                <div class="details">
              <div class="product-title">
                <h4>Stylish Gray Chair</h4>
              </div>
              <div class="user-rating">
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
              </div>
              <div class="product-price">
                <h4>USD 90.00</h4>
  
              </div>
            </div>
        </div>
    </div>  
     <div class="product-item">
      <div class="list-item">
          <div class="product-badge">
              <span class="product-trending"> 10% Off</span>
             
  
          </div>
          <div class="product-thumb">
                <a href="#">
                  <img class="img" src="../../../assets/product-images/product4.png" alt="">
                </a>
          </div>
          <div class="product-details-icons">
            <span>HI</span>
            <span>HI</span>
            <span>HI</span>
                
          </div>
      </div>
      <div class="details">
              <div class="details">
              <div class="product-title">
                <h4>Stylish Gray Chair</h4>
              </div>
              <div class="user-rating">
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
              </div>
              <div class="product-price">
                <h4>USD 90.00</h4>
  
              </div>
            </div>
      </div>
  </div> 
  
    </div>
  </div> -->
    <div class="section">
    <div class="product-list-wrrapper section-align">
      
      <div class="product-item">
        <div class="list-item">
            <div class="product-badge">
                <span class="product-trending"> 10% Off</span>
               
  
            </div>
            <div class="product-thumb">
                  <a href="#">
                    <img class="img" src="../../../assets/product-images/product5.png" alt="">
                  </a>
            </div>
            <div class="product-details-icons">
              <span>HI</span>
              <span>HI</span>
              <span>HI</span>
                  
            </div>
        </div>
        <div class="details">
                <div class="details">
              <div class="product-title">
                <h4>Stylish Gray Chair</h4>
              </div>
              <div class="user-rating">
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
              </div>
              <div class="product-price">
                <h4>USD 90.00</h4>
  
              </div>
            </div>
        </div>
    </div>   
    <div class="product-item">
      <div class="list-item">
          <div class="product-badge">
              <!-- <span class="product-trending"> 10% Off</span> -->
             
  
          </div>
          <div class="product-thumb">
                <a href="#">
                  <img class="img" src="../../../assets/product-images/product7.png" alt="">
                </a>
          </div>
          <div class="product-details-icons">
            <span>HI</span>
            <span>HI</span>
            <span>HI</span>
                
          </div>
      </div>
      <div class="details">
              <div class="details">
              <div class="product-title">
                <h4>Stylish Gray Chair</h4>
              </div>
              <div class="user-rating">
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
              </div>
              <div class="product-price">
                <h4>USD 90.00</h4>
  
              </div>
            </div>
      </div>
  </div> 
    <div class="product-item">
    <div class="list-item">
        <div class="product-badge">
            <span class="product-trending"> 10% Off</span>
           
  
        </div>
        <div class="product-thumb">
              <a href="#">
                <img class="img" src="../../../assets/product-images/product7.png" alt="">
              </a>
        </div>
        <div class="product-details-icons">
          <span>HI</span>
          <span>HI</span>
          <span>HI</span>
              
        </div>
    </div>
    <div class="details">
            <div class="details">
              <div class="product-title">
                <h4>Stylish Gray Chair</h4>
              </div>
              <div class="user-rating">
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
              </div>
              <div class="product-price">
                <h4>USD 90.00</h4>
  
              </div>
            </div>
    </div>
  </div>  
  <div class="product-item">
  <div class="list-item">
      <div class="product-badge">
          <!-- <span class="product-trending"> 10% Off</span> -->
         
  
      </div>
      <div class="product-thumb">
            <a href="#">
              <img class="img" src="../../../assets/product-images/product8.png" alt="">
            </a>
      </div>
      <div class="product-details-icons">
        <span>HI</span>
        <span>HI</span>
        <span>HI</span>
            
      </div>
  </div>
  <div class="details">
          <div class="details">
              <div class="product-title">
                <h4>Stylish Gray Chair</h4>
              </div>
              <div class="user-rating">
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
              </div>
              <div class="product-price">
                <h4>USD 90.00</h4>
  
              </div>
            </div>
  </div>
  </div>       <div class="product-item">
    <div class="list-item">
        <div class="product-badge">
            <span class="product-trending"> 10% Off</span>
           

        </div>
        <div class="product-thumb">
              <a href="#">
                <img class="img" src="../../../assets/product-images/product5.png" alt="">
              </a>
        </div>
        <div class="product-details-icons">
          <span>HI</span>
          <span>HI</span>
          <span>HI</span>
              
        </div>
    </div>
    <div class="details">
            <div class="details">
          <div class="product-title">
            <h4>Stylish Gray Chair</h4>
          </div>
          <div class="user-rating">
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
          </div>
          <div class="product-price">
            <h4>USD 90.00</h4>

          </div>
        </div>
    </div>
</div>   
<div class="product-item">
  <div class="list-item">
      <div class="product-badge">
          <!-- <span class="product-trending"> 10% Off</span> -->
         

      </div>
      <div class="product-thumb">
            <a href="#">
              <img class="img" src="../../../assets/product-images/product7.png" alt="">
            </a>
      </div>
      <div class="product-details-icons">
        <span>HI</span>
        <span>HI</span>
        <span>HI</span>
            
      </div>
  </div>
  <div class="details">
          <div class="details">
          <div class="product-title">
            <h4>Stylish Gray Chair</h4>
          </div>
          <div class="user-rating">
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
          </div>
          <div class="product-price">
            <h4>USD 90.00</h4>

          </div>
        </div>
  </div>
</div> 
<div class="product-item">
<div class="list-item">
    <div class="product-badge">
        <span class="product-trending"> 10% Off</span>
       

    </div>
    <div class="product-thumb">
          <a href="#">
            <img class="img" src="../../../assets/product-images/product7.png" alt="">
          </a>
    </div>
    <div class="product-details-icons">
      <span>HI</span>
      <span>HI</span>
      <span>HI</span>
          
    </div>
</div>
<div class="details">
        <div class="details">
          <div class="product-title">
            <h4>Stylish Gray Chair</h4>
          </div>
          <div class="user-rating">
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
          </div>
          <div class="product-price">
            <h4>USD 90.00</h4>

          </div>
        </div>
</div>
</div>  
<div class="product-item">
<div class="list-item">
  <div class="product-badge">
      <!-- <span class="product-trending"> 10% Off</span> -->
     

  </div>
  <div class="product-thumb">
        <a href="#">
          <img class="img" src="../../../assets/product-images/product8.png" alt="">
        </a>
  </div>
  <div class="product-details-icons">
    <span>HI</span>
    <span>HI</span>
    <span>HI</span>
        
  </div>
</div>
<div class="details">
      <div class="details">
          <div class="product-title">
            <h4>Stylish Gray Chair</h4>
          </div>
          <div class="user-rating">
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
            <span class="rated-star">  *<i class="far fa-star"></i></span>
          </div>
          <div class="product-price">
            <h4>USD 90.00</h4>

          </div>
        </div>
</div>
</div> 
  
  </div>
  </div>
  
  <div class="section">
      <div class="furniture-ad">
        <div class="hot-deal">
         <div class="deal-item">
          <h6 class="titles title-1  ">
            HOT DEAL FURNITURE
          </h6 >
  
          <h2 class="titles title-d">
            Furniture Limit Offer <br>
            30% Off
          </h2>
  
          <a  class="titles buy-n" href=""> BUY NOW ></a>
  
         </div>
        </div>
        <div class="hot-deal-month">
    <div class="deal-m-item">
      <h6 class="titles title-1 ">
        HOT DEAL FURNITURE
      </h6 >
      <h2 class="titles title-d title-d-res">
         Deals Of The Month
      </h2>
      <div class="countdown-wrapper">
        <div class="countdown">
          <span class="count" >180</span>
          <span class="item-align" >Days</span>
        </div><div class="countdown">
         <span class="count" >180</span>
          <span class="item-align" >Hrs</span>
        </div><div class="countdown">
         <span class="count" >180</span>
          <span class="item-align" >Mins</span>
        </div><div class="countdown">
         <span class="count" >180</span>
          <span class="item-align" >Secs</span>
        </div>
      </div>
      <a  class="titles buy-n-f" href=""> BUY NOW ></a>
    </div>
        </div>
      </div>
  </div>
  
  <div class="section section-align">
    <div class="client-feedback">
      <span class="subtitle-4">
        TESTIMONIALS
      </span>
      <h2 class="subtitle-client-fedback">Client Feedback</h2>
      <div class="item-wrraper">
    
        <div class="furniture-testimonial__item"> 
          <div class="ft-head">
           <div class="ft-rating">
            <span class="ft-info">  *<i class="far fa-star"></i></span>
            <span class="ft-info">  *<i class="far fa-star"></i></span>
            <span class="ft-info">  *<i class="far fa-star"></i></span>
            <span class="ft-info">  *<i class="far fa-star"></i></span>
            <span class="ft-info">  *<i class="far fa-star"></i></span>
           </div>
           <div class="icon">
            <img class="img-align" src="../../../assets/thumb-img/images.png" alt="">
           </div>
          </div>
          <h5 class="ft-title">Jerome Bell</h5>
          <span class="position-dev">Web Designer</span>
          
          <p class="font-ft">Lorem ipsum dolor sit amet consectetur the adipiscing elit vestibulum viverra eget felis
            interdum fusce odio lacus.</p>
        </div>   
         <div class="furniture-testimonial__item"> 
          <div class="ft-head">
           <div class="ft-rating">
            <span class="ft-info">  *<i class="far fa-star"></i></span>
            <span class="ft-info">  *<i class="far fa-star"></i></span>
            <span class="ft-info">  *<i class="far fa-star"></i></span>
            <span class="ft-info">  *<i class="far fa-star"></i></span>
            <span class="ft-info">  *<i class="far fa-star"></i></span>
           </div>
           <div class="icon">
            <img class="img-align" src="../../../assets/thumb-img/images.png" alt="">
           </div>
          </div>
          <h5 class="ft-title">Jerome Bell</h5>
          <span class="position-dev">Web Designer</span>
          
          <p class="font-ft">Lorem ipsum dolor sit amet consectetur the adipiscing elit vestibulum viverra eget felis
            interdum fusce odio lacus.</p>
        </div>    
        <div class="furniture-testimonial__item"> 
          <div class="ft-head">
           <div class="ft-rating">
            <span class="ft-info">  *<i class="far fa-star"></i></span>
            <span class="ft-info">  *<i class="far fa-star"></i></span>
            <span class="ft-info">  *<i class="far fa-star"></i></span>
            <span class="ft-info">  *<i class="far fa-star"></i></span>
            <span class="ft-info">  *<i class="far fa-star"></i></span>
           </div>
           <div class="icon">
            <img class="img-align" src="../../../assets/thumb-img/images.png" alt="">
           </div>
          </div>
          <h5 class="ft-title">Jerome Bell</h5>
          <span class="position-dev">Web Designer</span>
          
          <p class="font-ft">Lorem ipsum dolor sit amet consectetur the adipiscing elit vestibulum viverra eget felis
            interdum fusce odio lacus.</p>
        </div>
   
        </div>
        <div class="slider-window">
          <button class="navigation-btn"> <span> <i class="fa-regular fa-arrow-left"></i> </span></button>
          <button class="navigation-btn"> <span> <i class="fa-regular fa-arrow-right"></i> </span></button>
    
    
        </div>
    </div>
   
  </div>
  <div class="section">
  <div class="main-container-btsell">
    <span class="subtitle mb ">THIS WEEK</span>  <br>
    <!-- <h2 class="section-title-4">Best Sellers</h2> -->
    <h2 class="subtitle-1">Best Sellers</h2>
  
    <div class="container-1">
      <div class="row">
        <div class="row-item">
          <div class="item-img">
            <img class="img" src="../../../assets/product-images/fs-01.png" alt="">
          </div>
          <div class="item-details">
            <div class="details">
              <div class="product-title">
                <h4 class="font-align">Stylish Gray Chair</h4>
              </div>
              <div class="product-price">
                <h4>USD 90.00</h4>
    
              </div>
              <div class="user-rating">
                <span class="rated-star">  *<i class="far fa-star"></i> </span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
              </div>
            
            </div>
          </div>
        </div>   <div class="row-item">
          <div class="item-img">
            <img class="img" src="../../../assets/product-images/fs-02.png" alt="">
          </div>
          <div class="item-details">
            <div class="details">
              <div class="product-title">
                <h4 class="font-align">Chair Pillow</h4>
              </div>
              <div class="product-price">
                <h4>USD 90.00</h4>
    
              </div>
              <div class="user-rating">
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
              </div>
            
            </div>
          </div>
        </div>   <div class="row-item">
          <div class="item-img">
            <img class="img" src="../../../assets/product-images/fs-03.png" alt="">
          </div>
          <div class="item-details">
            <div class="details">
              <div class="product-title">
                <h4 class="font-align">Alexander Roll ..</h4>
              </div>
              <div class="product-price">
                <h4>USD 90.00</h4>
    
              </div>
              <div class="user-rating">
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
              </div>
            
            </div>
          </div>
        </div>
      </div> <div class="row">
        <div class="row-item">
          <div class="item-img">
            <img class="img" src="../../../assets/product-images/fs-04.png"  alt="">
          </div>
          <div class="item-details">
            <div class="details">
              <div class="product-title">
                <h4 class="font-align">Wooden Chair</h4>
              </div>
              <div class="product-price">
                <h4>USD 90.00</h4>
    
              </div>
              <div class="user-rating">
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
              </div>
            
            </div>
          </div>
        </div>   <div class="row-item">
          <div class="item-img">
            <img class="img" src="../../../assets/product-images/fs-05.png" alt="">
          </div>
          <div class="item-details">
            <div class="details">
              <div class="product-title">
                <h4 class="font-align">
                  Chair Pillow</h4>
              </div>
              <div class="product-price">
                <h4>USD 90.00</h4>
    
              </div>
              <div class="user-rating">
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
              </div>
            
            </div>
          </div>
        </div>   <div class="row-item">
          <div class="item-img">
            <img class="img" src="../../../assets/product-images/fs-06.png" alt="">
          </div>
          <div class="item-details">
            <div class="details">
              <div class="product-title">
                <h4 class="font-align">
                  Seater Gray Sofa</h4>
              </div>
              <div class="product-price">
                <h4>USD 90.00</h4>
    
              </div>
              <div class="user-rating">
                <span class="rated-star"> * <i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
                <span class="rated-star">  *<i class="far fa-star"></i></span>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="section section-align">
    <div class="recent">
      <span class="subtitle-4 recent-style"> READ BLOG </span> <br>
      <h2  class="subtitle-client-fedback recent-title ">Recent Blog</h2>
      <div class="container-recent">
        <div class="chair-items">
          <div class="cards">
            <span class="blog"><a href="">Chair Design</a></span> <br>
            <span class="blog-head" ><a href="#">By Alex Manie</a></span> <br>
            <span class="blog-head">07 jan, 2024</span> <br>
            <h4 class="blog-title">
              <a href="blog-details.html" class="text-capitalize">arrangement that's nearly perfect.</a>
           </h4>
           <a class="round-link" href="blog-details.html"> <i class="fa-regular fa-angle-right"></i></a>
          </div>
          <div class="cards-img">
            <a href=""><img class="img" src="../../../assets/product-images/chair-design1.jpg" alt=""></a>
          </div>
        </div>
        <div class="sofa-items">
          <div class="cards">
            <span class="blog"><a href="">Chair Design</a></span> <br>
            <span class="blog-head" ><a href="#">By Alex Manie</a></span> <br>
            <span class="blog-head">07 jan, 2024</span> <br>
            <h4 class="blog-title">
              <a href="blog-details.html" class="text-capitalize">arrangement that's nearly perfect.</a>
           </h4>
           <a class="round-link" href="blog-details.html"> <i class="fa-regular fa-angle-right"></i></a>
          </div>
          <div class="cards-img">
            <a href=""><img class="img" src="../../../assets/product-images/chair-design1.jpg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-align">
    <div class="support-area">
      <div class="row-off">
        <div class="offer-card">
          <h3 class="support-content">Exclusive offers for you</h3>
          <p class="support-content-p">Get weekly deals, valuable health information and more.</p>
          <a class="join-btn " href="#">sing up<span><i class="fa-regular fa-angle-right"></i></span></a>
        </div>
        <div class="offer-card">
          <h3 class="support-content">Join Our Community</h3>
          <p class="support-content-p">Get weekly deals, valuable health information and more.</p>
          <a class="join-btn " href="#">Join FREE now<span><i class="fa-regular fa-angle-right"></i></span></a>
        </div>
        <div class="offer-card">
          <h3 class="support-content">Get our FREE app Now!</h3>
          <p class="support-content-p">Get weekly deals, valuable health information and more.</p>
          <div class="mobile__app-download">
            <a class="app__download" href="#">
               <img src="../../../assets/thumb-img/play-store.png" alt="image not found">
            </a>
            <a class="app__download" href="#">
               <img src="../../../.././../../assets/thumb-img/apple-store.png" alt="image not found">
            </a>
         </div>
          <!-- <a class="join-btn " href="#">sing up<span><i class="fa-regular fa-angle-right"></i></span></a> -->
        </div>
      </div>
      <div class="row-off">
        <div class="brand-area">
          <div class="brand-grid border-0">
            <div class="brand-item border-0 p-0">
               <div class="brand-thumb">
                  <img src="../../../assets/thumb-img/brand-01.png" alt="">
               </div>
            </div>
            <div class="brand-item border-0 p-0">
               <div class="brand-thumb">
                  <img  src="../../../assets/thumb-img/brand-02.png" alt="">
               </div>
            </div>
            <div class="brand-item border-0 p-0">
               <div class="brand-thumb">
                  <img  src="../../../assets/thumb-img/brand-03.png" alt="">
               </div>
            </div>
            <div class="brand-item border-0 p-0">
               <div class="brand-thumb">
                  <img  src="../../../assets/thumb-img/brand-04.png" alt="">
               </div>
            </div>
            <div class="brand-item border-0 p-0">
               <div class="brand-thumb">
                  <img src="../../../assets/thumb-img/brand-05.png" alt="">
               </div>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
  